/* global.css */

body {
    background-image: url('public/a-nice-sunny-background-only-background-without-an-upscaled.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
